@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
 background-color: #fff; 
 position: relative;
}

nav.navbar{
  position: fixed;
  top: 3.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0rem 0.2rem 1rem rgb(22, 21, 21);
  width: min(95%, 100rem);
  padding-block: 1.5rem;
  padding-inline: 2rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  border-radius: 0 0 5px 5px;
  justify-content: space-between;
}
.logo h3{
 font-family: "Concert One",sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.logo h3 span{
  font-family: "Concert One",sans-serif;
  font-size: 16px;
  color: color-mix(in srgb, #6f3985, transparent 5%);
}
.logo h3 i{
 color: color-mix(in srgb, black, transparent 50%);
}
.navbar-items{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar-items .navlist-items{
  display: flex;
  gap: 3rem;
}
.list-item{
 font-family: "Concert One";
  padding:0.5rem 1.5rem;
  border-radius: 50px;
  list-style: none;
  text-transform: uppercase;
font-size: 12px;
font-weight: bold;
color: #000;
transition: all ease .4s;
}
.list-item:hover{
  background: linear-gradient(to right, #364555, #6f3985);
  color: #fff !important;
}
.list-item.active{
  background: linear-gradient(to right, #364555, #6f3985);
  color: #fff !important;
}

.social-links{
  padding: .9rem 2rem .6rem;
    background: linear-gradient(to right, #364555, #6f3985);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 2rem;
    color: #fff;
}
.social-links i{
  font-size: 12px;
  transition: all ease .3s;
}
.social-links i:hover{
transform: translate(0px, -5px);
}

.menu{
  display: none;
}
/* hero/head section */
section {
  max-width: 100rem;
  margin-inline: auto;
  padding:8rem 2rem 2rem;
}

.home-sect{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.home-sect > * {
  flex-basis: 100%;
}
.home-content h1{
  font-size: 24px;
  margin-bottom: 1rem;
}
.home-content p{
  font-size: 12px;
}
.home-content h3{
  font-size: 15px;
  margin-bottom: 1rem;
}
.btnx{
  margin-top: 1.6rem;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(to right, #364555, #6f3985);
  color: white;
  font-weight: bold;
}

.home-content img{
  width: 100%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}



/* testimonial section */
.testimonial-grid {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  display: grid;
  gap: 1.5rem;
  grid-template-columns:repeat(4, 1fr);
  padding: 2rem;
  /* padding-block: 2rem; */
border-radius: 0.5rem;
  width: min(95%, 100rem);
    /* margin: 0 auto; same as the margin-inline below*/
    /* margin-inline: auto; */
    margin:1rem auto;
  background-image: url("./images/bg01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-col-span-2{
    grid-column:span 2;
}
/* .testimonial:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 2;
} */
/* .testimonial:nth-child(4){
    grid-column-start: 2;
    grid-column-end: 4;
} */

.testimonial:last-child{
    grid-column-start: 4;
    /* grid-row-start: 1;
    grid-row-end: span 2; */
    /* grid-row-end: 3; */
    /* grid-row:1 / 3; */
    grid-row:1 / span 2;
}
.testimonial {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px color-mix(in srgb, black, transparent 50%);
}
.testimonial .profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.profile h3 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.profile p {
  font-size: 12px;
  font-weight: bold;
}
.testimonial img {
  width: 40px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50px;
}
.testimonial-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.testimonial-paragraph {
  font-size: 12px;
  line-height: 1.4;
}
.cus-play{
    padding: 1rem;
    background: linear-gradient(to right, #364555, #6f3985);
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 1rem;
    border-radius: 10px;
}
.cus-play span{
    width: 3rem;
    aspect-ratio: 1;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.cus-play i{
    font-size: 14px;
    color: #6f3985;
}
#first.testimonial {
  background-color: #6f3985;
  color: #fff;
}
#second.testimonial {
  background-color: #364555;
  color: #fff;
}
#third.testimonial {
  background-color: #fff;
  color: #000;
}
#forth.testimonial {
  background-color: #212529;
  color: #fff;
}
#fifth.testimonial {
  background-color: #fff;
  color: #212529;
}















@media (max-width: 400px){
/* navbar section */
nav.navbar{
  top: 3.2%;
  width: 100%;
  padding-inline: 0;
  padding-block:0;
}
.logo{
  padding: 0 2rem;
}
.menu{
  display: block;
  padding: 2rem 1.5rem 2rem 2rem;
  font-size: 22px;
  border-radius: 0 0  0.5rem 2.5rem;
  background: linear-gradient(to right, #364555, #6f3985);
  color: #fff;
  transition: all ease .3s;
}
.menu #menu-icon{
  width: 22px !important;
  aspect-ratio: 1;
}
.list-item{
  padding: 0.5rem;
}
.navlist-items{
  flex-direction: column;
  text-align: center;
  width:50%;
  margin-right: 5rem;
}

.social-links{
  width: 80%;
  justify-content: space-between;
}

.navbar-items{
  padding: 2rem;
  flex-direction: column;
  text-align: start;
  position: fixed;
  top: 74px;
  right:-100rem;
  height: 40vh;
  width: 60%;
  background: #fff;
  border-radius: 10px 0 0px 30px;
  box-shadow: 0rem 0.2rem 1rem rgb(22, 21, 21);
  transition:  all ease .7s;
}

.navbar-items.active{
  right: 0;
}

.home-sect{
  flex-direction: column;
}



  .testimonial-grid{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -28%); */
    display: flex;
    flex-direction: column;
    margin:1rem auto;
}

}